---
layout: default
---
<div class="post about-page">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.4}}px, (min-width: 576px)
      40vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    {% if page.show_education and page.education %}
      <h2>Education</h2>
      <div class="education-list">
        {% for edu in page.education %}
          <div class="education-item">
            {% if edu.logo %}
              <div class="education-logo">
                {% assign education_logo_path = edu.logo | prepend: 'assets/img/' %}
                {% include figure.liquid path=education_logo_path class="education-logo-image" width="150" sizes="150px" alt=edu.logo_alt loading="eager" %}
              </div>
            {% endif %}
            <div class="education-content">
              {% for line in edu.lines %}
                <p>{{ line | markdownify | remove: '<p>' | remove: '</p>' }}</p>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if page.show_research_visiting_experience and page.research_visiting_experience %}
      <h2>Research and Visiting Experience</h2>
      <div class="education-list">
        {% for exp in page.research_visiting_experience %}
          <div class="education-item">
            {% if exp.logo %}
              <div class="education-logo">
                {% assign experience_logo_path = exp.logo | prepend: 'assets/img/' %}
                {% include figure.liquid path=experience_logo_path class="education-logo-image" width="150" sizes="150px" alt=exp.logo_alt loading="eager" %}
              </div>
            {% endif %}
            <div class="education-content">
              {% for line in exp.lines %}
                <p>{{ line | markdownify | remove: '<p>' | remove: '</p>' }}</p>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if page.show_awards and page.awards %}
      <h2>Awards & Honors</h2>
      <div class="education-list">
        {% for award in page.awards %}
          <div class="education-item">
            {% if award.logo %}
              <div class="education-logo">
                {% assign award_logo_path = award.logo | prepend: 'assets/img/' %}
                {% include figure.liquid path=award_logo_path class="education-logo-image" width="150" sizes="150px" alt=award.logo_alt loading="eager" %}
              </div>
            {% endif %}
            <div class="education-content">
              {% for line in award.lines %}
                <p>{{ line | markdownify | remove: '<p>' | remove: '</p>' }}</p>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if page.show_publications %}
      <h2>Publications</h2>
      <div class="publications">
        {% bibliography --group_by none %}
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
